@font-face {
  font-family: 'IntroScript';
  src: url('fonts/IntroScript-Trial-Regular.woff') format('woff'), url('fonts/IntroScript-Trial-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlo Melow Sans';
  src: url('fonts/carlo-melow-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Carlo Melow Sans, sans-serif;
  font-size: 10px;
  background: url(../images/shoutout-gradient.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-fluid,
.container,
.row {
  margin: 0;
}

.navbar {
  height: 15vh;
}

#navigation #logo {
  font-family: IntroScript, sans-serif;
  margin-left: 1rem;
  /* font-family: IntroScript, sans-serif; */
  font-size: 4rem;
  /* color: rgb(247, 37, 133); */
  text-shadow:
        0.04rem 0 black,
        0 0.04rem black,
        -0.04rem 0 black,
        0 -0.04rem black,
        -0.04rem -0.04rem black,
        -0.04rem 0.04rem black,
        0.04rem -0.04rem black,
        0.04rem 0.04rem black;
}

#navigation #logo,
#navigation .nav-item,
#navigation a {
  color: rgb(247, 37, 133);
  margin-top: 1rem;
}

#navModal .nav-item, 
#navModal a {
  color: rgb(76, 201, 240);
}

#navigation .nav-item,
#navigation a,
#navModal .nav-item, 
#navModal a {
  font-family: IntroScript, sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  text-shadow: 0.03rem 0 black;
}

#navModal {
  margin-top: 5rem;
  font-size: 1rem;
}

/* Glassmorphism effect adapted from: https://ui.glass/generator/ */
#navModal>.modal-dialog>.modal-content {
  background: rgba(72, 149, 239, 0.5);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: hidden;
}

#main-content {
  margin-top: 10rem;
  text-align: center;
}

#generator-section,
#shoutoutMessage {
  margin: 0;
  padding: 0;
}

.shoutout-container {
  height: 50vh;
}

#shoutoutMessage {
  font-family: Carlo Melow Sans, sans-serif;
  font-size: 4rem;
  color: rgb(76, 201, 240);
  text-shadow:
        0.08rem 0 black,
        0 0.08rem black,
        -0.08rem 0 black,
        0 -0.08rem black,
        -0.08rem -0.08rem black,
        -0.08rem 0.08rem black,
        0.08rem -0.08rem black,
        0.08rem 0.08rem black;
}

#generateButton {
  font-family: IntroScript, sans-serif;
  background-color: rgb(76, 201, 240);
  color: rgb(58, 12, 163);
  font-size: 3rem;
  position: relative;
  opacity: 0.9;
  top: 0;
  margin-top: 0;
  box-shadow: 0 10px 0 0;
  transition: all .25s ease;
}

#generateButton:hover {
  /* background-color: rgb(72, 149, 239); */
  opacity: 1;
  transform:scale(1.05);
}

#generateButton:active {
  box-shadow: none;
  top: 10px;
  margin-bottom: 0;
  transform:scale(.95);
}

#generateButton:active,
#generateButton:focus {
  outline: 0;
}

@media only screen and (min-width: 992px) {
  #navigation #logo {
      margin-left: 5rem;
      font-size: 5rem;
  }
}