body {
  font-size: 10px;
  background: url(../images/shoutout-gradient.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  height: 15vh;
}

#navigation #logo,
#navigation .nav-item,
#navigation a,
#navModal .nav-item, 
#navModal a {
    color: rgb(76, 201, 240);
}

#navModal {
  margin-top: 5rem;
  font-size: 1rem;
}

/* Glassmorphism effect adapted from: https://ui.glass/generator/ */
#navModal>.modal-dialog>.modal-content {
  background: rgba(72, 149, 239, 0.25);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: hidden;
}